<div *ngIf="id != ''">
  <button routerLink="/">Back</button>
</div>

<mat-card class="card" *ngIf="card">
  <mat-card-header>
    <mat-card-title-group class="card-group">
      <mat-card-subtitle> {{ card.title }}</mat-card-subtitle>
      <img mat-card-sm-image [src]="card.imageUrl" />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="id != ''">
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Show all details </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          <strong> Id: </strong>
          <span>{{ card.id }}</span>
        </p>

        <p>
          <strong> Fecha Creación: </strong>
          <span>{{ card.fechaCreacion }}</span>
        </p>

        <p>
          <strong> Descripción: </strong> <span>{{ card.description }}</span>
        </p>
      </mat-expansion-panel>
    </div>
  </mat-card-content>
</mat-card>
